
    <!-- welcome begins -->
    <section id="page-welcome" class="page-welcome">
      <div>
          <ul class="slider-controls">
              <li><a id="vegas-next" class="next" href="#"></a></li>
              <li><a id="vegas-prev" class="prev" href="#"></a></li>
          </ul>
        </div>
        <div class="container">
            <div class="row">
                <header class="centered">
                    <h1>FRIEND OF THE DAY</h1>
                    <p>REMINDS YOU TO KEEP IN TOUCH WITH YOUR FRIENDS</p>
                </header>
                 <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-default hire-me"%>
                <!-- <a href="#page-profile" class="btn btn-default hire-me">Get Started</a> -->
            </div>
        </div>
    </section><!-- welcome ends -->
    <!-- profile begins -->
    


        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.easypiechart.min.js"></script>
        <script src="js/jquery.vegas.min.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.validate.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>


