<section id="page-profile" class="page-profile">
  <div class="container">
            <header class="section-header">
                <h4 class="section-title">Staying In Touch Made Easy</h4>
                <div class="spacer"></div>
                <p class="section-subtitle">Don't you wish you stayed in better touch with your friends? Friend Of the Day is the answer. </p>
            </header>
        <div class="row">
          <div class="col-md-3" id="pic_img">
             <div class="profile"><img src="img/profile.png" alt="profile"/></div> 
          </div>
           <div class="col-md-9" id="about_page">
            <p>1. You enter your number and Friend Of the Day pulls in your contacts.</p>
            <p>2. You pick friends you wish you kept in touch with more often.</p>
            <p>3. You'll get a text once a day reminding you to get in touch.</p>
            <p>4. Once we've gone through the entire list, it starts over again in random order!</p>
            <p>5. Your friend's number is in the text, so you just press, hold, and send a text.</p>
           	<p>6. What a good friend you are. <%= link_to "Log in with Google","/auth/google_oauth2" %>  to get started!</p>
          </div>
        </div>
  </div> 
</section>