
	<section id="page-education" class="page-education">
   	<div class="container">
      <header class="section-header">
          <h2 class="section-title"><span>Enter Your Number To Get Started</span></h2>
           <div class="spacer"></div>
          <p class="section-subtitle">Start keeping in touch better today. </p>
      </header>
			<div class= "new_number_form">
				<h2>
					<%= form_for user do |f| %>
					<%= f.telephone_field :phone_number, placeholder: "+12128888888" %><br>
					<%= f.submit %>
					<% end %>
				</h2>
			</div>
		</div>
	</section>
