<% if @user.friends.where(close_friend: true).size > 0 %>
	<div class="close_friends_list">
		<%= render "close_friends_list" %>
	</div>
<% end %>

	 
<h1>Add Friends You Want To Be Reminded To Keep in Touch With</h1>
	<% if logged_in? %>
		<div id="new_friend_form">
			<h3>Or, Add A new Friend</h3>
			<%= render "new_friend_form" %>
		</div>
		
		<div id="normal_friends_list">
			<%= render "friends" %>
		</div>
	<% end %>