// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_friend_form {
	visibility: hidden;
}
.edit_friend_form form {
	display: inline;
}

.full_width {
	 display: block;
	 overflow: hidden;
   color: black;
}

#normal_friends_list {
	visibility: hidden;
}

.edit_number_form {
	visibility: hidden;
}

#show_friends_button {
	background-color: gray;
	color: white;
}

.friend_of_the_day {
   
   visibility: hidden;
   color: black;
}

#normal_friends_list {
   
   color: black;
}

.signed_in_info {
	text-align: right;
	z-index: 4000;
	display: inline-block;
	float: right;
	position: absolute;
	margin-left: 25%;
}

