// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_friend_form {
	visibility: hidden;
}
.edit_friend_form form {
	display: inline;
}

.new_number_form {
	text-align: center;
}

.full_width {
	 display: block;
	 overflow: hidden;
   color: black;
}

#normal_friends_list {
	visibility: hidden;
}

.edit_number_form {
	visibility: hidden;
}

#show_friends_button {
	background: rgba(64,63,63, 0.85);
	color: white;
	height: 60px;
	margin: 30px 0px 30px 0px;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}

#show_friends_button:hover {
	background: #ffffff;
	border-color: #f1c40f;
	border-style: solid;
	border-width: 2px;
	color: rgb(64,63,63);
}

.friend_of_the_day {
   
   visibility: hidden;
   color: black;
}

#normal_friends_list {
   
   color: black;
}

.signed_in_info {
	text-align: right;
	z-index: 4000;
	display: inline-block;
	float: right;
	position: absolute;
	margin-left: 8%;
	margin-top: .5%;
	text-align: left;
}

.settings_button:hover ,
#sign_out:hover	{
	text-decoration: none;
	font-weight: bold;
}


